
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    margin: 2px;
    &.min-size{
        .toolbar, .container-box{
            width: calc(960px - 5px);
            padding-left: 0px;
            .left-items{
                margin-left: 5px;
            }
        }
    }
}

.hideable-item{
    display: none;
}


$totalWidth: 1500px;
$height: 750px;

.drill-models-container{
    background: white;
    .hint{
        margin: 50px 50px;
        display: block;
    }
}


.toolbar{
    text-align: left;
    width: $totalWidth - 5px;
    padding-bottom: 2px;
    border-top: 1px solid #000;
    padding-top: 1px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding-left: 5px;
    position: relative;
    display: grid;
    grid-template-columns: calc(100% - 660px) 660px;

    input, select {
        border-width: 1px;
        margin-bottom: 2px;
        border-radius: 5px;
    }
    .option{
        margin-right: 15px;
        font-size: 14px;
    }
    .option .caption{
        font-size: 14px;
    }
    .country-select-by-name{
        .select-by-name {
            background: #f5f5f5;
            padding: 0px 3px;
            cursor: pointer;
            color: #635eed;
            border: 1px solid #5c5757;
            border-radius: 3px;
        }
        .country-list-menu{
            display: none;
            position: absolute;
            height: 400px;
            overflow: hidden;
            z-index: 99;
            background: #efefef;
            margin-left: -130px;
            margin-top: 21px;
            border-radius: 5px;
            .list-body-unselected{
                overflow: auto;
                height: calc(100% - 152px);
            }
            .list-body-selected{
                background: #bedff9;
                max-height: 125px;
                overflow-y: auto;
            }
            .row-item{
                border-bottom: 1px solid #bdbdbd;
                padding: 2px 7px 2px 7px;
                &.button-row{
                    display: grid;
                    grid-template-columns: calc(50% - 6px) calc(50% - 6px);
                    border: 0;
                    position: absolute;
                    bottom: 5px;
                    width: 100%;
                }
            }
        }
    }

    .right-items{
        .control-container{
            position: relative;
            float: right;
            .control-item{
                margin-top: 2px;
                margin-right: 10px;
                font-size: 13px;
                position: relative;
                &.bubble-remove, &.bubble-select, &.global-streams{
                    margin-right: 20px;
                }

                &.active{
                    color: blue;
                    border-bottom: 2px solid blue;
                    padding-bottom: 1px;
                }
                .cross{
                    position: absolute;
                    border: 1px solid #ff00ea;
                    line-height: 8px;
                    height: 9px;
                    border-radius: 20px;
                    padding: 0 2px;
                    color: #ff00ea;
                    font-size: 9px;
                    right: -7px;
                    display: none;
                    cursor: pointer;
                }
            }
        }
        .btn-go{
            color: blue;
            font-size: 13px;
            margin-right: 10px;
            margin-left: 30px;
            opacity: 0.3;
            cursor: pointer;
        }
    }
}


.container-box{
    overflow: hidden;
    border: 1px solid black;
    height: $height;
    position: relative;
    display: grid;
    grid-template-columns: calc(50% - 3px) calc(50% - 3px);
    margin: 0 3px;
    width: $totalWidth;
    &.single-columns{
        width: 960px;
        display: inline;
    }
    &.whole-width{
        width: $totalWidth;
        display: inline;
    }

    .left-chart-container {
        background: #fff;
        z-index: 9;
        // position: absolute;
        overflow: visible;
        .bubble-svg{
            overflow: visible;
        }
        &.rate-svg-container{
            height: 100%;
            overflow: auto;
            g.tick {
                font-size: 7px;
            }
        }
        .impact-chart-svg{
            width: 4000px;
            overflow: auto;
            // g.tick {
            //     font-size: 13px;
            // }
            text{
                font-size: 4px;
            }
        }

        .country-stream-svg{
            overflow: visible;
            &.focused{
                opacity: 1;
            }
            &.dimmed{
                opacity: 0.7;
            }
        }

        .country-stream{
            position: absolute;
            height: 71px;
            width: 500px;
            
            &.focused{
                opacity: 1;
            }
            &.dimmed{
                opacity: 0.1;
            }
        }

        .inner-container{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 65px calc(100% - 65px);

            .percent-row, .percent-row svg{
                height: 100%;
                width: 100%;
                .perc-label{
                    color: white;
                }
            }
        }
    }
}

.ca-options{
    position: absolute;
    top: 50px;
    left: 440px;
    z-index: 9999;
}

.bubble-svg{
    g{
        circle{
            &.abberation{
                z-index: 1;
            }
            &.actual{
                z-index: 2;
            }
        }
    }
}

.solid-line{
    stroke:solid;
 }
 
 .dashed-line{
    stroke-dasharray: 5,5; 
 }


.main-stream-svg{
    .main-stream-cell{
        opacity: 0.8;
        &.focused{
            opacity: 1;
        }
    }
}

.drill-models-container{
    padding-left: 80px;
    
    .model-row{
        position: relative;
        margin-top: 10px;
        
        text{
            position: absolute;
            left: -50px;
            top: 58px;
        }
    }
    .country-stream-svg{
        width: 100%;
    }

}



// svg.rate-svg{
//     transform: translateZ(0);
// }

.usage-rect, .horizon-flow, .parallel-coords, .texture-sec-path, .circle-container circle, .percent-row circle{
    mix-blend-mode: lighten;
    will-change: transform;
    &.noise-circle{
        mix-blend-mode: hard-light;
    }
}

.clear-fish-graph, .apply-third-prop, .toggle-texture{
    font-size: 13px;
    color: #2d88fd;
    margin-left: 15px;
}


.axis path, .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.d3-tip {
    position: absolute;
    text-align: left;
    min-width: 60px;
    transition: opacity 0.25s ease-in-out;
    min-height: 28px;
    padding: 8px 12px;
    font: 12px sans-serif;
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    pointer-events: none;

    .country{
        font-size: 20px;
        font-weight: bold;
    }
    .prop{
        font-size: 16px;
        padding: 5px 0;
    }
}


.line {
  fill: none;
}
  

// svg{
//     rect{
//         margin-top: 4px;
//     }
//     g.tick {
//         font-size: 5px;
//         line{
//             stroke-width: 0.4px;
//         }
//     }
// }

.y-axis text, .x-axis text {
    font-size: 12px;
}

.lines-chart{
    height: calc(100% - 30px);
    width: calc(100% - 40px);
    margin: 10px 10px 30px 50px;
    overflow: visible;
}

.world-map{
    path {
        fill: #0edd7910;
        stroke: #c0bcc1cc;
        stroke-width: 0.2;
        opacity: 0.8;
        &.world-map-path.highlight{
            fill: #0edd7950;
            stroke:  #05bb6dff;
        }
    }

    
}


body.questionnaire{
    .toolbar{
        display: none;
    }

    .container-box{
        display: inline;
    }

    .txt-opinion{
        width: calc(100% - 20px);
    }

    .ag-dis-lbl{
        text-transform: capitalize;
    }

    .comp-prof-chk{
        transform: scale(2);
        width: 20px;
        height: 9px;
        margin-top: 10px;
        margin-left: 0;
        position: absolute;
    }
    label.comp-prof-lbl {
        margin-left: 23px;
    }

    .bubble-chart{
        foreignObject{
            overflow: visible;
            white-space: nowrap;
        }
        input[type="checkbox"]{
            transform: scale(2.5);
            width: 47px;
            height: 15px;
        }
        .ag-dis-lbl{
            font-size: 30px;
        }
    }

    .rate-svg, svg{
        overflow: visible;
        g.tick {
            font-size: 11px;
            line{
                display: none;
            }
        }
        text{
            font-family: "Open Sans", sans-serif;
        }
    }

    .bubble-ca-question-g{
        input[type="checkbox"]{
            transform: scale(1.55);
        }
        .ag-dis-lbl{
            font-size: 16px;
            position: absolute;
            margin: 1px 0 0 6px;
        }
    }

    .usage-questions, .horizon-questions{
        input[type="checkbox"]{
            transform: scale(1.15);
        }
        .ag-dis-lbl{
            font-size: 16px;
            position: absolute;
            margin: 1px 0 0 4px;
        }
    }

    .save-container{
        text-align: center;
        width: 100%;
        margin-top: 200px;
        .save-msg{
            font-size: 50px;
        }
    }

    .vsup-svg{
        g.tick {
            font-size: 11px;
        }
        // input[type="checkbox"]{
        //     transform: scale(1.80);
        //     margin: 0 0 0 7px;
        // }

        .ag-dis-lbl{
            font-size: 25px;
            position: absolute;
            margin: 0 0 0 14px;
        }
    }

    .btn-submit{
        fill: rgb(138 87 237);
    }

    .txt-email{
        line-height: 35px;
        width: 280px;
        padding-left: 5px;
        font-size: 20px;
    }

    .sus-chk{
        transform: scale(3);
        width: 20px;
        height: 9px;
    }
    .nasa-chk{
        transform: scale(2.8);
        width: 20px;
        height: 9px;
    }
    .section-caption{
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 5px;
    }
}

body.cb-test{
    .container-box{
        overflow: hidden;
        border: 1px solid black;
        height: $height;
        position: relative;
        display: grid;
        grid-template-columns: calc(50% - 3px) calc(50% - 3px);
        margin: 0 3px;
        width: 1000px;
        &.result-mode{
            grid-template-columns: 100%;
        }
        .image{
            text-align: right;
            margin-top: 200px;
        }
        .inputs{
            margin-top: 300px;
            margin-left: 20px;
            .txt-input{
                line-height: 30px;
                font-size: 30px;
                color: #565151;
                width: 150px;
                padding-left: 7px;
            }
            .btn-next{
                height: 30px;
                width: 70px;
                margin-left: 13px;
                margin-top: 5px;
                position: absolute;
            }
        }
        .result{
            display: none;
            margin-top: 300px;
            text-align: center;
            font-size: 30px;
        }

    }
}

.feedback{
    .section-caption{
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    svg{
        border: 1px solid #ccc;
    }

    .btn-submit{
        fill: rgb(138 87 237);
    }

    .txt-email{
        line-height: 35px;
        width: 380px;
        padding-left: 5px;
        font-size: 20px;
    }


}