body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    margin: 2px;
}

.toolbar{
    text-align: left;
    width: calc(960px - 5px);
    padding-bottom: 2px;
    border-top: 1px solid #000;
    padding-top: 1px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding-left: 5px;
    
    input, select {
        border-width: 1px;
        margin-bottom: 2px;
        border-radius: 5px;
    }
    .option{
        margin-right: 15px;
        font-size: 14px;
    }
    .option .caption{
        font-size: 14px;
    }
}

.container-box{
    overflow: hidden;
    border: 1px solid black;
    height: 750px;
    width: 960px;
    position: relative;

    .chart-item { 
        background: #fff;
        z-index: 9;
        position: absolute;

        .country-stream{
            position: absolute;
            height: 71px;
            width: 500px;
            &.top-left{
                transform: rotate(35deg);
                top: 150px;
                left: 20px;
            }
            &.top-middle{
                transform: rotate(90deg);
                top: 80px;
                left: 220px;
            }
            &.top-right{
                transform: rotate(145deg);
                top: 155px;
                left: 430px;
            }
            &.left-middle{
                transform: rotate(5deg);
                top: 300px;
                left: 0px;
            }
            &.right-middle{
                transform: rotate(180deg);
                top: 300px;
                left: 480px;
            }
            &.bottom-left{
                transform: rotate(-35deg);
                top: 450px;
                left: 30px;
            }
            &.bottom-middle{
                transform: rotate(270deg);
                top: 515px;
                left: 220px;
            }
            &.bottom-right{
                transform: rotate(-150deg);
                top: 430px;
                left: 445px;
            }
            &.focused{
                opacity: 1;
            }
            &.dimmed{
                opacity: 0.1;
            }
        }
    }
}

.bubble-svg{
    g{
        circle{
            &.abberation{
                // opacity: 0.2;
                z-index: 1;
            }
            &.actual{
                // opacity: 1;
                z-index: 2;
            }
        }
    }
}


.clear-fish-graph{
    font-size: 13px;
    color: #2d88fd;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.d3-tip {
    position: absolute;
    text-align: left;
    min-width: 60px;
    transition: opacity 0.25s ease-in-out;
    min-height: 28px;
    padding: 8px 12px;
    font: 12px sans-serif;
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    pointer-events: none;
}


.line {
  fill: none;
}
  

svg{
    rect{
        margin-top: 4px;
    }
    g.tick {
        font-size: 5px;
        line{
            stroke-width: 0.4px;
        }
    }
}

.y-axis text, .x-axis text {
    font-size: 12px;
}