<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid Forecasts</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Library js codes -->
    <script src="../static/libs/d3.min.js"></script>
    <script src="../static/libs/d3-tip.min.js"></script>
    <script src="../static/libs/topojson.v2.min.js"></script>
    <script src="../static/libs/lodash.min.js"></script>
    <script src="../static/libs/moment.js"></script>
    <script src="../static/libs/jquery-3.6.0.min.js"></script>
  
    <!-- Custom js codes -->
    <script src="../static/js/init.js"></script>
    <script src="../static/js/chart.js"></script>

    <!-- Custom css styles -->
    <link rel="stylesheet" type="text/css" href="../static/styles/app.css"/>
</head>
<body>
    <div class='toolbar'>
        <span class='option chart-type-item'>
            <span class='caption'>Property</span>
            <select id="drp-property"></select>
        </span>
        <span class='option chart-type-item'>
            <span class='caption'>Chart Type</span>
            <select id="drp-chart-type"></select>
        </span>
        <span class='hideable-item option countries-item'>
            <span class='caption'>Select Country</span>
            <select id="drp-countries"></select>
        </span>
        <span class='hideable-item option models-item'>
            <span class='caption'>Select Model</span>
            <select id="drp-models"></select>
        </span>
        <span class='hideable-item option country-stream-type'>
            <span class='caption'>Country Stream With</span>
            <select id="drp-country-stream-type"></select>
        </span>
        <span class='hideable-item clear-fish-graph'>Clear</span>
        <span class='view-controls'>
            <span class='control-container'>
                <span class="material-icons control-item pan" title="Pan Mode">pan_tool</span>
                <span class="material-icons control-item stream active" title='Country Stream Mode'>view_stream</span>
                <!-- <span class="material-icons control-item zoom-in" title="Pan Mode">zoom_in</span>
                <span class="material-icons control-item zoom-out" title="Pan Mode">zoom_out</span> -->
            </span>
        </span>
    </div>
    <div class='container-box two-columns'>
        <div class='left-chart-container'></div>
        <div class='hideable-item main-stream-chart'></div>
    </div>
</body>
</html>