@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  margin: 2px;
}
body.min-size .toolbar, body.min-size .container-box {
  width: calc(960px - 5px);
}

.hideable-item {
  display: none;
}

.toolbar {
  text-align: left;
  width: 1495px;
  padding-bottom: 2px;
  border-top: 1px solid #000;
  padding-top: 1px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding-left: 5px;
  position: relative;
  display: grid;
  grid-template-columns: calc(100% - 620px) 620px;
}
.toolbar input, .toolbar select {
  border-width: 1px;
  margin-bottom: 2px;
  border-radius: 5px;
}
.toolbar .option {
  margin-right: 15px;
  font-size: 14px;
}
.toolbar .option .caption {
  font-size: 14px;
}
.toolbar .country-select-by-name .select-by-name {
  background: #f5f5f5;
  padding: 0px 3px;
  cursor: pointer;
  color: #635eed;
  border: 1px solid #5c5757;
  border-radius: 3px;
}
.toolbar .country-select-by-name .country-list-menu {
  display: none;
  position: absolute;
  height: 400px;
  overflow: hidden;
  z-index: 99;
  background: #efefef;
  margin-left: -130px;
  margin-top: 21px;
  border-radius: 5px;
}
.toolbar .country-select-by-name .country-list-menu .list-body-unselected {
  overflow: auto;
  height: calc(100% - 152px);
}
.toolbar .country-select-by-name .country-list-menu .list-body-selected {
  background: #bedff9;
  max-height: 125px;
  overflow-y: auto;
}
.toolbar .country-select-by-name .country-list-menu .row-item {
  border-bottom: 1px solid #bdbdbd;
  padding: 2px 7px 2px 7px;
}
.toolbar .country-select-by-name .country-list-menu .row-item.button-row {
  display: grid;
  grid-template-columns: calc(50% - 6px) calc(50% - 6px);
  border: 0;
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.toolbar .right-items .control-container {
  position: relative;
  float: right;
}
.toolbar .right-items .control-container .control-item {
  margin-top: 2px;
  margin-right: 10px;
  font-size: 13px;
  position: relative;
}
.toolbar .right-items .control-container .control-item.bubble-remove, .toolbar .right-items .control-container .control-item.bubble-select, .toolbar .right-items .control-container .control-item.global-streams {
  margin-right: 20px;
}
.toolbar .right-items .control-container .control-item.active {
  color: blue;
  border-bottom: 2px solid blue;
  padding-bottom: 1px;
}
.toolbar .right-items .control-container .control-item .cross {
  position: absolute;
  border: 1px solid #ff00ea;
  line-height: 8px;
  height: 9px;
  border-radius: 20px;
  padding: 0 2px;
  color: #ff00ea;
  font-size: 9px;
  right: -7px;
  display: none;
  cursor: pointer;
}
.toolbar .right-items .btn-go {
  color: blue;
  font-size: 13px;
  margin-right: 10px;
  margin-left: 30px;
  opacity: 0.3;
  cursor: pointer;
}

.container-box {
  overflow: hidden;
  border: 1px solid black;
  height: 750px;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 1500px;
}
.container-box.single-columns {
  width: 960px;
  display: inline;
}
.container-box.whole-width {
  width: 1500px;
  display: inline;
}
.container-box .left-chart-container {
  background: #fff;
  z-index: 9;
  overflow: visible;
}
.container-box .left-chart-container .bubble-svg {
  overflow: visible;
}
.container-box .left-chart-container.rate-svg-container {
  height: 100%;
  overflow: auto;
}
.container-box .left-chart-container.rate-svg-container g.tick {
  font-size: 7px;
}
.container-box .left-chart-container .impact-chart-svg {
  width: 4000px;
  overflow: auto;
}
.container-box .left-chart-container .impact-chart-svg text {
  font-size: 4px;
}
.container-box .left-chart-container .country-stream-svg {
  overflow: visible;
}
.container-box .left-chart-container .country-stream-svg.focused {
  opacity: 1;
}
.container-box .left-chart-container .country-stream-svg.dimmed {
  opacity: 0.7;
}
.container-box .left-chart-container .country-stream {
  position: absolute;
  height: 71px;
  width: 500px;
}
.container-box .left-chart-container .country-stream.focused {
  opacity: 1;
}
.container-box .left-chart-container .country-stream.dimmed {
  opacity: 0.1;
}
.container-box .left-chart-container .inner-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 65px calc(100% - 65px);
}
.container-box .left-chart-container .inner-container .percent-row, .container-box .left-chart-container .inner-container .percent-row svg {
  height: 100%;
  width: 100%;
}
.container-box .left-chart-container .inner-container .percent-row .perc-label, .container-box .left-chart-container .inner-container .percent-row svg .perc-label {
  color: white;
}

.ca-options {
  position: absolute;
  top: 50px;
  left: 440px;
  z-index: 9999;
}

.bubble-svg g circle.abberation {
  z-index: 1;
}
.bubble-svg g circle.actual {
  z-index: 2;
}

.solid-line {
  stroke: solid;
}

.dashed-line {
  stroke-dasharray: 5, 5;
}

.main-stream-svg .main-stream-cell {
  opacity: 0.8;
}
.main-stream-svg .main-stream-cell.focused {
  opacity: 1;
}
.clear-fish-graph, .apply-third-prop, .toggle-texture {
  font-size: 13px;
  color: #2d88fd;
  margin-left: 15px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.d3-tip {
  position: absolute;
  text-align: left;
  min-width: 60px;
  transition: opacity 0.25s ease-in-out;
  min-height: 28px;
  padding: 8px 12px;
  font: 12px sans-serif;
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  pointer-events: none;
}

.line {
  fill: none;
}

svg rect {
  margin-top: 4px;
}
svg g.tick {
  font-size: 5px;
}
svg g.tick line {
  stroke-width: 0.4px;
}

.y-axis text, .x-axis text {
  font-size: 12px;
}

:root {
  --syntax_normal: #1b1e23;
  --syntax_comment: #a9b0bc;
  --syntax_number: #20a5ba;
  --syntax_keyword: #c30771;
  --syntax_atom: #10a778;
  --syntax_string: #008ec4;
  --syntax_error: #ffbedc;
  --syntax_unknown_variable: #838383;
  --syntax_known_variable: #005f87;
  --syntax_matchbracket: #20bbfc;
  --syntax_key: #6636b4;
  --mono_fonts: 82%/1.5 Menlo,Consolas,monospace;
}

/*# sourceMappingURL=app.css.map */
