body {
    font: 10px sans-serif;
  }
  
  #forecast_viz { 
    background: #fff;
  }
  
  p {
    font: 12px helvetica;
  }
  
  
  .axis path, .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    shape-rendering: crispEdges;
  }
  

  svg rect{
      margin-top: 4px;
  }

  svg g.tick {
    font-size: 5px;
  }

  g.tick line{
    stroke-width: 0.4px;
  }